{% extends 'base.html.twig' %}

{% block title %}Edit Bill{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/assets/libs/select2/dist/css/select2.min.css">
    {#<link rel="stylesheet" type="text/css" href="/assets/libs/select2/dist/js/select2.min.js">#}
    <link rel="stylesheet" type="text/css" href="/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <style>
        .select2-selection.select2-selection--single {
            border: 1px solid #e9ecef;
            border-radius: 0px;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: #59616A;
        }

        .select2-selection.select2-selection--single {
            height: 35px;
        }

        .select2.select2-container.select2-container--default {
            height: 35px;
            width: 100%!important;
        }

        .select2-selection__rendered {

            padding-top: 5px;
            padding-left: 12px!important;
        }

        .select2-selection__arrow {
            height: 35px!important;
        }

        .form-control[readonly] {
            background-color: #ffffff;
        }

        .form-control[readonly]:hover {
            cursor: pointer;
        }

        .mh-1000 {
            min-height: 1000px;
        }

        /*.form-group label {*/
        /*padding-left: 10px;*/
        /*}*/
        label.custom-file-label {
            font-weight: 400;
            color: rgb(108,117,125);
        }

        /*label.custom-file-label:after {*/
            /*font-family: "Material Design Icons";*/
            /*font-size: 16px;*/
            /*content: "\f552";*/

            /*!*z-index: 1;*!*/
        /*}*/
        label.custom-file-label:after {
            display: none;
            content: '';
            background: none;
        }

        /*div.custom-file:hover label.custom-file-label:after {*/
            /*font-family: "Material Design Icons";*/
            /*content: "\f157";*/
            /*color : red;*/
        /*}*/

        label.custom-file-label:before {}

        label.custom-file-label {
            /*z-index: 1;*/
        }

        div.btn-group, button.btn.btn-danger.btn-sm {
            z-index: 999;
        }



        /*.mdi-close-box:hover .input-group-append {*/
            /*margin: 1px;*/
            /*padding: 1px;*/
        /*}*/


        /****HOVER****/
         /*div.custom-file span.file-icon:hover {*/
            /*padding-left: 4px!important;*/
            /*padding-right: 4px!important;*/
        /*}*/


        /*span.input-group-text:hover .mdi-close-box{*/
            /*font-size: 30px;*/
        /*}*/

        /***ENDHOVER***/
        /*input[type=file] {display: none}*/
        /*h5.form-group.row {margin-bottom: 0px;}*/

    </style>
{% endblock head %}

{% block content %}

    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->

        <div class="card col-12 mh-1000"  >
            {#<h1>Create new Bill</h1>#}
            <div class="card-body">
                {% include 'bill/_form.html.twig' with { 'title' : 'РЕДАГУВАННЯ РАХУНКУ'} %}
            </div>

            {#<a href="{{ path('bill_index') }}">back to list</a>#}

        </div>
        {#</div>#}
    </div>
{% endblock %}
{% block javascripts %}
    {#<script src="../../dist/js/custom.min.js"></script>#}
    <script src="/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="/assets/libs/select2/dist/js/select2.min.js"></script>
    <script src="/assets/libs/select2/dist/js/i18n/uk.js"></script>
    {#<script src="/assets/libs/select2/dist/js/select2.full.min.js"></script>#}
    {#<script src="/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>#}
    <script src="/assets/libs/bootstrap-datepicker/dist/locales/bootstrap-datepicker.uk.min.js"></script>

    <script src="/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
    <script src="/dist/js/pages/mask/mask.init.js"></script>
    <script src="/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="/assets/extra-libs/sparkline/sparkline.js"></script>
    <script src="/assets/libs/toastr/build/toastr.min.js"></script>
    <script>

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
        // //***********************************//
        // // For select 2
        // //***********************************//
        $(".select2").select2({
            language: "uk"
        });
        //
        // /*colorpicker*/
        // $('.demo').each(function() {
        //     //
        //     // Dear reader, it's actually very easy to initialize MiniColors. For example:
        //     //
        //     //  $(selector).minicolors();
        //     //
        //     // The way I've done it below is just for the demo, so don't get confused
        //     // by it. Also, data- attributes aren't supported at this time...they're
        //     // only used for this demo.
        //     //
        //     $(this).minicolors({
        //         control: $(this).attr('data-control') || 'hue',
        //         position: $(this).attr('data-position') || 'bottom left',
        //
        //         change: function(value, opacity) {
        //             if (!value) return;
        //             if (opacity) value += ', ' + opacity;
        //             if (typeof console === 'object') {
        //                 console.log(value);
        //             }
        //         },
        //         theme: 'bootstrap'
        //     });
        //
        // });
        /*datwpicker*/
        // jQuery('.mydatepicker').datepicker();
        // jQuery('#datepicker-autoclose').datepicker.defaults.format = "dd/mm/yyyy";
        jQuery('.datepicker-autoclose').datepicker({
            autoclose: true,
            // todayHighlight: true,
            language: 'uk',
            format : "dd/mm/yyyy",
            orientation: 'bottom',

        });
        jQuery('.billing-period').datepicker({
            autoclose: true,
            language: 'uk',
            format : "MM yyyy",
            viewMode: "months",
            minViewMode: "months",
            orientation: 'bottom'
        });

        // $('input[type="file"]').change(function(e){
        //     var fileName = e.target.files[0].name;
            // alert('The file "' + fileName +  '" has been selected.');

        // var file = null;
        {% if bill.file %}
            $('.custom-file-label').text('{{ bill.file }}');

            var url = '{{ path('bill_delete_file', {'id' : bill.id}) }}';

            // var file = true;
            // $('input[type="file"]').on('click',function(e){
            //     alert();
            //     e.target.files[0] = null;
            // });

        $('#file-icon').removeClass('mdi-upload').addClass(['m-0', 'p-0', 'mdi-close-box', 'text-danger']);
        $('#file-icon').on('click', function (e) {

            if ($(this).hasClass('mdi-close-box')) {

                $.ajax(url)
                    .done ((data) => {
                        $('#file-icon').removeClass(['mdi-close-box', 'text-danger', 'font-26']).addClass('mdi-upload');
                        $('.custom-file-label').text('Оберіть файл');
                        // $(this).find('input').prop("checked", !$(this).find('input').prop("checked"));
                        // $(this).parent().parent().find('.sorting_1').next().text(data)
                    })
                    .fail( () => {
                        alert( "error" );
                    })
                // .always(function() {
                //     alert( "complete" );
                // })
                ;
            }


            // alert(url);

        });

        {% endif %}

        // });
        // alert($('.custom-file-label').text());

        $('input[type="file"]').change(function(e){

            // console.log($('input[type="file"]').val());

            var fileName = e.target.files[0].name;
            // alert('The file "' + fileName +  '" has been selected.');

            $('.custom-file-label').text(fileName);

        });

        console.log($('input[type=file]'));

            // $('label.custom-file-label').on('click', function () {
            //     alert();
            // });


        // var quill = new Quill('#editor', {
        //     theme: 'snow'
        // });
        // $(".formHorizontal").validate();

    </script>
{% endblock javascripts %}