        <div class="custom-switch">
            <input type="checkbox" id="switch-{{ row.id }}" class="switch" {% if row.isPaid == true %}checked{% endif %}>
            <label for="switch"></label>
        </div>
