{% extends 'base.html.twig' %}

{% block title %}New Indication{% endblock %}

{% block content %}
    <h1>Create new Indication</h1>

    {{ include('indication/_form.html.twig') }}

    <a href="{{ path('indication_index') }}">back to list</a>
{% endblock %}
