{% extends 'base.html.twig' %}

{% block title %}Edit Place{% endblock %}

{% block content %}
    <div class="page-breadcrumb">
        <div class="row">
            {#<div class="col-12 d-flex no-block align-items-left">#}
            <h4 class="page-title text-center">
                {#<div class="row">#}
                {#<div class="nav-item d-none d-md-block">#}
                <a class="waves-effect waves-light p-l-5" href="{{ path('my_places')}}" data-sidebartype="mini-sidebar"><i class="mdi mdi-arrow-left font-24"></i></a>
                {#</div>#}
                {#<i class="mdi mdi-arrow-left"></i>#}
                {#</div>#}
            </h4>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Library</li>
                    </ol>
                </nav>
            </div>
            {#</div>#}
        </div>
    </div>

    {% include('place/_form.html.twig') with {'title' : 'Редагувати місце'} %}
{% endblock %}
