{% extends 'base.html.twig' %}

{% block title %}New Place{% endblock %}

{% block content %}
    {#<div class="page-breadcrumb">#}
        {#<div class="row">#}
            {#<div  class="col-1">#}
                {#<div class="ml-auto text-right">#}
                    {#<nav aria-label="breadcrumb">#}
                        {#<ol class="breadcrumb">#}
                            {#<a href="{{ path('my_places')}}">#}
                                {#<li class="breadcrumb-item">#}
                                    {#<i class="ti ti-angle-left" style="padding-right: 0.5rem;"></i> {{ 'back'|trans }}#}
                                {#</li>#}
                            {#</a>#}
                        {#</ol>#}
                    {#</nav>#}
                {#</div>#}
            {#</div>#}
            {#<div class="col-11 d-flex no-block align-items-center">#}
                {#<div class="ml-auto text-right">#}
                    {#<nav aria-label="breadcrumb">#}
                        {#<ol class="breadcrumb">#}
                            {#<li class="breadcrumb-item" aria-current="page">Додати місце</li>#}
                            {#<li class="breadcrumb-item active">{{ place.name }}</li>#}
                        {#</ol>#}
                    {#</nav>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    {##}
    {#<div class="page-breadcrumb">#}
        {#<div class="row">#}
            {#<h4 class="page-title text-center">#}
                {#<a class="waves-effect waves-light p-l-5" href="{{ path('my_places')}}" data-sidebartype="mini-sidebar"><i class="mdi mdi-arrow-left font-24"></i></a>#}
            {#</h4>#}
            {#<div class="ml-auto text-right">#}
                {#<nav aria-label="breadcrumb">#}
                    {#<ol class="breadcrumb">#}
                        {#<li class="breadcrumb-item"><a href="#">Home</a></li>#}
                        {#<li class="breadcrumb-item active" aria-current="page">Library</li>#}
                    {#</ol>#}
                {#</nav>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

    {% include('place/_form.html.twig') with {'title' : 'place.add.title'|trans} %}

{% endblock %}
