{% block extra %}
<form method="post" action="{{ url }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ id) }}">
    {#<div class="border-top">#}
        <div class="card-body">
            <button class="btn btn-outline-danger">{{ button_label|default('delete'|trans|capitalize) }}</button>
        </div>
    {#</div>#}
</form>
{% endblock extra %}

