<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% trans with {
    '%firstName%': user.firstName,
    '%lastName%': user.lastName,
    } from 'letters' %}account_confirmed
{% endtrans %}
{% block javascripts %}{% endblock %}
</body>
</html>
