{% extends 'base.html.twig' %}

{% block title %}Edit Bill{% endblock %}

{% block content %}
    <h1>Edit meter</h1>

    {{ include('meter/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('meter_index') }}">back to list</a>

    {{ include('meter/_delete_form.html.twig') }}
{% endblock %}
